<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yachi.nfcvexplorer"
    android:versionCode="1"
    android:versionName="1.01" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name="com.yachi.nfcvexplorer.NFCApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Sherlock.__Theme.Light" >
        <activity
            android:name="com.yachi.nfcvexplorer.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Sherlock.__Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yachi.nfcvexplorer.gui.BaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Sherlock.__Theme.Light" >
        </activity>
        <activity
            android:name="com.yachi.nfcvexplorer.receive.ActionReceiver"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/BG_Transparent " >
              <intent-filter>
                 <action android:name="android.intent.action.VIEW" />
                 
            </intent-filter>
        </activity>
        <activity
            android:name="com.yachi.nfcvexplorer.receive.ActionLauncher"
            android:clearTaskOnLaunch="false"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="false"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/scriptlet" />
                <data android:mimeType="text/x-nfc-taskl" />
                <data android:mimeType="x/nfcv" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="tags.do"
                    android:path="/nfcv"
                    android:scheme="http" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/nfcv" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_filter" />

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="x/nfcv-s" />
                <data android:mimeType="application/nfcv" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yachi.nfcvexplorer.gui.FrameActionManager"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yachi.nfcvexplorer.gui.FrameSwitchManager"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yachi.nfcvexplorer.gui.FrameTagSave"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yachi.nfcvexplorer.gui.FrameSetting"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yachi.nfcvexplorer.gui.FrameSwitchSave"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yachi.nfcvexplorer.gui.FrameHelper"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yachi.nfcvexplorer.gui.WriteTagActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yachi.nfcvexplorer.gui.frame.ActivityWebsiteTag"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yachi.nfcvexplorer.gui.frame.ActivityContactTag"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yachi.nfcvexplorer.gui.frame.ActivityDailTag"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yachi.nfcvexplorer.gui.frame.ActivityTextTag"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yachi.nfcvexplorer.gui.frame.ActivityEmailTag"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <provider
            android:name=".dao.TagDataProvider"
            android:authorities="com.yachi.nfcvexplorer.dao.TagDataProvider"
            android:exported="false" />
        
        <receiver android:name="com.yachi.nfcvexplorer.receive.LockScreenReceive" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/my_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>